<h2>Search Books</h2>
<div style="
margin: 2em 0px;
max-width: 620px;
">
  
<form action="/books" method="GET">

    <div class="input-group mb-3"> 
        <span class="input-group-text" id="basic-addon1">Title</span>
    <input type="text" name="title" value="<%= searchOptions.title  %> "  class="form-control">
    </div>


    <div class="input-group mb-3"> 
        <span class="input-group-text" id="basic-addon1">Published After</span>
        <input type="date" name="publishedAfter" value="
        <%= searchOptions.publishedAfter  %> "  class="form-control">
    </div> 


    <div class="input-group mb-3"> 
        <span class="input-group-text" id="basic-addon1">Published Before</span>
        <input type="date" name="publishedBefore" value="
        <%= searchOptions.publishedBefore  %> "  class="form-control">
    </div>
    
    <button type="submit" class="btn btn-outline-primary">Search</button>
</form> 
</div>
<br>


<div style="display: flex;">
    <%books.forEach(book=>{ %>
        <div class="card" style="width: 10rem;
        margin-right: 1em;">
            <img src="<%=book.coverImagePath %>" class="card-img-top" alt="Book" style="padding: 5px;">
            <div class="card-body">
              <h5 class="card-title"><%= book.title%> </h5>

            </div>
        </div>
    
    <% }) %> 
</div>
